
<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-ML" role="menuitem"><a href="{{site.baseurl}}tag/ML/">ML</a></li>
    <li class="nav-NLP" role="menuitem"><a href="{{site.baseurl}}tag/NLP/">NLP</a></li>
    <li class="nav-MLOps" role="menuitem"><a href="{{site.baseurl}}tag/MLOps/">MLOps</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/python/">python</a></li>
    <li class="nav-backend" role="menuitem"><a href="{{site.baseurl}}tag/backend/">backend</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">Timeline</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag</a>
    </li>
</ul>