
<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-ML" role="menuitem"><a href="{{site.baseurl}}tag/machinelearning/">Machine Learning</a></li>
    <li class="nav-algorithm" role="menuitem"><a href="{{site.baseurl}}tag/algorithm/">Algorithms</a></li>
    <li class="nav-cs231n" role="menuitem"><a href="{{site.baseurl}}tag/cs231n/">cs231n</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">Timeline</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag</a>
    </li>
</ul>